{
	"env": {
		"node": true
  },
	"parserOptions": {
		"ecmaVersion": 6
	},
	"rules": {
		"no-undef": 2,
		"no-unused-vars": 2,
		"no-redeclare": 2,
		"no-dupe-class-members": 2,
		"no-this-before-super": 2,

		"indent": ["error", "tab"],
		"no-mixed-spaces-and-tabs": 2,
		"no-irregular-whitespace": 2,
		"semi": 2
	}
}
